<%- include('../partials/head.ejs') %>
<div class="container">

            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p> <img src="<%= author.profilePic %>" 
                                alt=""
                                class="img-thumbnail img-fluid rounded-circle"
                                style="width: 300px;height: 300px;"></p>
                           
                      
                            <h4 class="card-title"><%=author.profile.name %></h4>
                            <h4 class="card-title"><%=author.profile.tittle %></h4>
                            <p class="card-text"><%=author.profile.bio %></p>
                            <ul class="list-inline">
                                <% if (author.profile.links.website){ %>
                                    <li class="list-inline-item">
                                        <a href="<%= author.profile.links.website %>"
                                            target="_blank">
                                            <i class="fa fa-internet-explorer"></i>
                                           </a>
                                        </li>
                                 <%}%>

                                 <% if (author.profile.links.facebook){ %>
                                    <li class="list-inline-item">
                                        <a href="<%= author.profile.links.facebook %>"
                                            target="_blank">
                                            <i class="fab fa-facebook"></i>
                                           </a>
                                        </li>
                                 <%}%>

                                 <% if (author.profile.links.twitter){ %>
                                    <li class="list-inline-item">
                                        <a href="<%= author.profile.links.twitter %>"
                                            target="_blank">
                                            <i class="fab fa-twitter"></i>
                                           </a>
                                        </li>
                                 <%}%>

                                 <% if (author.profile.links.github){ %>
                                    <li class="list-inline-item">
                                        <a href="<%= author.profile.links.github %>"
                                            target="_blank">
                                            <i class="fab fa-github"></i>
                                           </a>
                                        </li>
                                 <%}%>
                               
                            </ul>
                        </div>
                    <% if(author._id.equals(user._id)) { %>
                        
                        
                    <% } else {  %>
                        <div class="card-title text-center mb-0"><h3>Post of <%= author.profile.name %></h3></div>
                         
                        <div class="card-body">
                          <% if (author.profile.posts.length == 0){ %>
                            <div class="text-center text-muted">
                              <p>There is No Posts Available Right Now</p>
                            </div>
                      <% } else{ %>
                        <% for (let post of author.profile.posts) { %>
                          <div class="card p-3">
                            <div class="col-md-12">
                              <div class="blog-entry ftco-animate d-md-flex">
                                <% if (post.thumbnail){ %>
                                  <img src="<%= post.thumbnail %>" alt="<%= post.tittle %>" class="img-fluid"
                                  style="width: 200px;height:150px">
                                <% } %>  
                                <div class="text text-2 pl-md-4">
                                     <h3><a href="/explorer/<%= post._id %>" style="color: black;">
                                    <%= post.tittle %>
                                   </a></h3> 
                                  <div class="meta-wrap">
                                    <p class="meta">
                                      <span><i class="icon-calendar mr-2"></i><%= moment(post.createdAt) %>,</span>
                                      <span> Posted By <a href="/author/<%=post.author._id%>"><%= author.profile.name %>,</a></span>
                                      <span><%= post.readTime %></span>
                                    </p>
                                  </div>
                                  <p class="mb-4"><%= truncate(post.body) %></p>
                                  <p><a href="/explorer/<%= post._id %>" class="btn btn-primary btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>   
                              </div>
                             
                              </div>
                          </div>
                           <% }%>  
                        <% }%>
                      
                             
                      </div>
                    <% } %> 

                    </div>
                 
                </div>
            </div>
     
    </div>

<%- include('../partials/footer.ejs') %>
</body>
</html>